#navBar{
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-top: 10px;
    position:relative;
}

#title{
    text-align: center; 
    margin-top: 50px;
    font-size: 80px;
    text-align: center;
    font-family: serif;
    font-weight: 100;
    
}

#success{
    font-size: 200px;
    text-align: center;
    font-family: serif;
    font-weight: 300;
    color: rgb(10, 2, 2);
    text-shadow: 0px 0px 14px #443f3f;
    background-color: rgb(2, 0, 0);
}

.carousel-inner {
    margin-top: 50px;
    height: 100vh; width: auto;
}

#footer{
    font-size: 80px;
    font-family: serif;
    font-weight: 350;
    text-align: center;
    width: 100vw;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 800px;
    color: rgb(248, 243, 243);
    text-shadow: 0px 0px 14px #ede7e7;
    background-color: rgb(2, 0, 0);
}